<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.product.mapper.SpuSaleAttrMapper">

    <resultMap id="saleAtrrMap" type="com.atguigu.gmall.model.product.SpuSaleAttr" autoMapping="true">
        <id column="id" property="id"></id>
        <collection property="spuSaleAttrValueList" ofType="com.atguigu.gmall.model.product.SpuSaleAttrValue"
                    autoMapping="true">
            <id property="id" column="sale_attr_value_id"></id>
        </collection>


    </resultMap>

    <select id="getSpuSaleAttrList" resultMap="saleAtrrMap">
        select
            sa.id ,sa.spu_id, sa.sale_attr_name,sa.base_sale_attr_id,
            sv.id sale_attr_value_id,
            sv.sale_attr_value_name
        from spu_sale_attr sa
                 inner join spu_sale_attr_value sv
                            on sa.spu_id = sv.spu_id
                                and sa.base_sale_attr_id = sv.base_sale_attr_id
        where sa.spu_id = #{spuId}
    </select>

    <select id="getSpuSaleAttrListCheckBySku" resultMap="saleAtrrMap">
        select ssa.id,ssa.spu_id,ssa.base_sale_attr_id, ssa.sale_attr_name,
               ssav.id sale_attr_value_id, ssav.sale_attr_value_name,
               IF(skv.sku_id IS NULL,0,1)  is_checked
        from spu_sale_attr ssa
                 inner join spu_sale_attr_value  ssav on ssa.spu_id = ssav.spu_id and ssa.base_sale_attr_id = ssav.base_sale_attr_id
        left join  sku_sale_attr_value skv  on skv.sale_attr_value_id = ssav.id and skv.sku_id = #{skuId}
        where ssa.spu_id = #{spuId}
        ORDER BY ssav.base_sale_attr_id,ssav.id
    </select>


</mapper>